
        .body-initial {
            background-color: rgb(38, 38, 38); 
            background-repeat: no-repeat; 
            background-position: center center; 
            background-attachment: fixed; 
            background-size: auto; 
        }
        .silex-id-1477583050098-2 {
            opacity: 0.5; 
            position: relative; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1477584374053-5 {
            width: 100%; 
            background-image: url('../assets/C%20flow.png'); 
            padding-top: 77.84%; 
            background-repeat: no-repeat; 
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1477585246736-16 {
            min-height: 244px; 
            width: 320px; 
            top: 100px; 
            left: 813px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1477584939387-6 {
            min-height: 58px; 
            width: 147px; 
            top: 48px; 
            left: 33px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.9; 
        }
        .silex-id-1477585012840-7 {
            min-height: 59px; 
            width: 104px; 
            top: 51px; 
            left: 202px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585041105-8 {
            min-height: 38px; 
            width: 252px; 
            top: 46px; 
            left: 431px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585047017-9 {
            min-height: 34px; 
            width: 250px; 
            top: 86px; 
            left: 431px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585055368-10 {
            min-height: 34px; 
            width: 246px; 
            top: 122px; 
            left: 433px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585066830-11 {
            min-height: 58px; 
            width: 217px; 
            top: 155px; 
            left: 432px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585072217-12 {
            min-height: 35px; 
            width: 246px; 
            top: 218px; 
            left: 433px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585078491-13 {
            min-height: 34px; 
            width: 250px; 
            top: 309px; 
            left: 429px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585088885-14 {
            min-height: 34px; 
            width: 250px; 
            top: 346px; 
            left: 432px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
        .silex-id-1477585095451-15 {
            min-height: 39px; 
            width: 246px; 
            top: 381px; 
            left: 432px; 
            background-color: rgb(255, 255, 255); 
            opacity: 0.4; 
        }
    